.h1{
    text-align: center;
}
.kagiz{
    background-image: url(hand_five.jpeg);
}
.das{
    background-image: url(fist.jpeg);
}
.qayci{
    background-image: url(hand_victory.jpeg);
}
.div{
    width: 33%;
    height: 300px;
    margin: 4px ;
    padding: 3px;
    border-radius: 12%;
    background-size: cover;
    background-position: center;
}
.div:hover{
    scale: 1.03;
    box-shadow: 1px 1px 1px 1px black;
    transition: .9s;
}
.oyun{
    display: flex;
}
.netice{
    text-align: center;
    font-size: 1.2em;
    margin: 10px;
}